#banner_image {
    background-image: url("https://images.hdqwalls.com/download/paper-plane-5k-lu-2560x1440.jpg");
    height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:auto;
}